



h2 , h3{ 
  
color: #31968e;
letter-spacing: 3px;
text-decoration: underline solid #e4087e;
  font-size: large;
  margin:auto;
}

.contact{
 color: black;
}

.photo {
  display: block;
 margin-top: 50px;
  margin-right: auto;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 15%;
  
}